body {
  font-style: italic;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );
}
.nav-links a {
  padding: 10px;
  color: rgb(56, 44, 44);
}
.nav-links {
  margin-bottom: 30px;
}
.contact {
  margin-top: 20px;
}
a:active {
  color: rgb(184, 105, 16);
}
